{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">

</head>

<body>
<h1> Game is over </h1>
<h1> Puanınız</h1>
<h1> Toplam 10 sorudan 3 tanesini doğru cevapladınız.</h1>
<h1> Hangi vakıfa katkıda bulunmak istiyorsunuz (Vakıfların resimleri)</h1>
(Vakıflar; Otizm derneği, Tegv)
<h1></h1>

</body>
</html>
