{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="question-image col-md-2">
            </div>
            <div class="question-image col-md-6">
                <img class="rounded d-block img-fluid hoverZoomLink image-shadow float-right border border-primary"
                     style="max-width: 600px;" id="question"></div>
            <div class="text-center col-md-2">
                <h1 class="">Süre
                    <br></h1>
                <div class="blockquote">
                    <p id="timer">20</p>
                </div>
            </div>
            <div class="text-center col-md-2">
                <h1 class="">Skor
                    <br></h1>
                <div class="blockquote">
                    <p class="" id="score">100
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-2">
    <div class="container" id="answers">
        <div class="row">
            <div class="col-md-6">
                <form>{% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block text-center btn-lg"
                            id="choice1"><br></button>
                </form>
            </div>
            <div class="col-md-6">
                <form>
                    <input type="hidden" name="questionId">
                    <button type="submit" class="btn btn-primary btn-block text-center btn-lg"
                            id="choice2"><br></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br>
                <form>
                    <input type="hidden" name="questionId">
                    <button type="submit" class="btn btn-primary btn-block text-center btn-lg"
                            id="choice3"><br></button>
                </form>
            </div>
            <div class="col-md-6">
                <br>
                <form>
                    <input type="hidden" name="questionId">
                    <button type="submit" class="btn btn-primary btn-block text-center btn-lg"
                            id="choice4"><br></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/game.js' %}"></script>
<img id="hzDownscaled" style="position: absolute; top: -10000px;">
<img id="hzDownscaled" style="position: absolute; top: -10000px;">
<img id="hzDownscaled" style="position: absolute; top: -10000px;">
<div id="hzImg"
     style="border: 1px solid rgb(227, 227, 227); line-height: 0; overflow: hidden; padding: 2px; margin: 0px; position: absolute; z-index: 2147483647; border-radius: 3px; background: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(255, 255, 255) 50%, rgb(237, 237, 237)); box-shadow: rgba(0, 0, 0, 0.33) 3px 3px 9px 5px; opacity: 1; top: 0px; left: 396px; cursor: pointer; pointer-events: none; display: none;"></div>
</body>

</html>