{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">

</head>

<body>
<audio id="background-audio" src="{% static 'audio/background-1.mp3' %}"></audio>
<div class="container-fluid">
    <div class="row" style="height: 85px;">
        <div class="col-sm-3 col-md-3 text-right">
            <div class="card" style="background-color: inherit; border: none;">
                <div class="card-body">
                    <h4 class="text-primary mt-3">Soru <span id="currentQuestion">1</span>/<span
                            id="totalQuestion">10</span></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="card" style="background-color: inherit; border: none;">
                <div class="card-body">
                    <h4 class="text-primary text-center">Süre</h4>
                    <p class="p-y-1 text-center"><b id="timer">20</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="card" style="background-color: inherit; border: none;">
                <div class="card-body">
                    <h4 class="text-primary text-center">Puan
                        <br>
                    </h4>
                    <p class="p-y-1 text-center"><b>0</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 text-center my-4">
            <button class="btn btn-outline-primary" id="controlMusic" onclick="controlBackgroundMusic()"><i
                    class="fa fa-fw fa-volume-up"></i>Müziği&nbsp;Kapat
                <br>
            </button>
        </div>
    </div>
    <hr class="menu-divider">
</div>
<div class="py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="question-image col-md-6 text-center">
                <img class="rounded d-block img-fluid hoverZoomLink image-shadow mx-auto border-primary"
                     style="" id="question"></div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
<div class="py-2">
    <div class="container" id="answers">
        <div class="row">
            <div class="col-md-6 text-right">
                <form>{% csrf_token %}
                    <button type="submit" class="btn btn-primary hvr-fade text-center choice"
                            id="choice1" onclick="checkMyAnswer(this)"><br></button>
                </form>
            </div>
            <div class="col-md-6 text-left">
                <form>
                    <input type="hidden" name="questionId">
                    <button type="submit" class="btn btn-primary hvr-fade text-center choice"
                            id="choice2" onclick="checkMyAnswer(this)"><br></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-right">
                <br>
                <form>
                    <input type="hidden" name="questionId">
                    <button type="submit" class="btn btn-primary hvr-fade text-center choice"
                            id="choice3" onclick="checkMyAnswer(this)"><br></button>
                </form>
            </div>
            <div class="col-md-6 text-left">
                <br>
                <form>
                    <input type="hidden" name="questionId">
                    <button type="submit" class="btn btn-primary hvr-fade text-center choice"
                            id="choice4" onclick="checkMyAnswer(this)"><br></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
<script>
    var clickSrc = "{% static 'audio/click.wav' %}";
    var correctSrc = "{% static 'audio/correct2.mp3' %}";
    var wrongSrc = "{% static 'audio/wrong.wav' %}";
</script>
<script src="{% static 'js/game.js' %}"></script>
<img id="hzDownscaled" style="position: absolute; top: -10000px;">
<img id="hzDownscaled" style="position: absolute; top: -10000px;">
<img id="hzDownscaled" style="position: absolute; top: -10000px;">
<div id="hzImg"
     style="border: 1px solid rgb(227, 227, 227); line-height: 0; overflow: hidden; padding: 2px; margin: 0px; position: absolute; z-index: 2147483647; border-radius: 3px; background: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(255, 255, 255) 50%, rgb(237, 237, 237)); box-shadow: rgba(0, 0, 0, 0.33) 3px 3px 9px 5px; opacity: 1; top: 0px; left: 396px; cursor: pointer; pointer-events: none; display: none;"></div>
</body>

</html>
