{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body style="height: 100%;">
<div class="gradient-overlay text-center bg-primary p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-light">Oyuna başlamak için kategori seçiniz
                            <br>
                        </h1>
                        <p class="text-light">Seçtiğiniz kategoriye göre soru zorluk düzeyi değişmektedir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary p-3" style="height: 100%;">
    <div class="container" id="category-div">
        <div class="row">
            <div class="p-3 align-self-center col-md-3">
                <div class="card">
                    <div class="card-block p-5">
                        <form>{% csrf_token %}
                            <h1 class="text-center text-primary"><span style="font-size: 30px;">5. Sınıf</span></h1>
                            <input type="hidden" name="category" value="5">
                            <hr>
                            <button type="submit" class="btn btn-block btn-lg btn-outline-primary select-category">Seç
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="p-3 align-self-center col-md-3">
                <div class="card">
                    <div class="card-block p-5">
                        <form>{% csrf_token %}
                            <h1 class="text-center text-primary"><span style="font-size: 30px;">6. Sınıf</span></h1>
                            <input type="hidden" name="category" value="6">
                            <hr>
                            <button type="submit" class="btn btn-block btn-lg btn-outline-primary select-category">Seç
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="p-3 align-self-center col-md-3">
                <div class="card">
                    <div class="card-block p-5">
                        <form>{% csrf_token %}
                            <h1 class="text-center text-primary"><span style="font-size: 30px;">7. Sınıf</span></h1>
                            <input type="hidden" name="category" value="7">
                            <hr>
                            <button type="submit" class="btn btn-block btn-lg btn-outline-primary select-category">Seç
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="p-3 align-self-center col-md-3">
                <div class="card">
                    <div class="card-block p-5">
                        <form>{% csrf_token %}
                            <h1 class="text-center text-primary"><span style="font-size: 30px;">8. Sınıf</span></h1>
                            <input type="hidden" name="category" value="8">
                            <hr>
                            <button type="submit" class="btn btn-block btn-lg btn-outline-primary select-category">Seç
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-block p-5">
                        <form>{% csrf_token %}
                            <h1 class="text-center text-primary"><span style="font-size: 30px;">Karışık</span>
                                <br>
                            </h1>
                            <hr>
                            <input type="hidden" name="category" value="mix">
                            <button type="submit" class="btn btn-block btn-lg btn-outline-primary select-category">Seç
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/selectCategory.js' %}"></script>
</html>
