{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
{% endblock %}
{% block content %}
    <div class="py-5 text-center opaque-overlay mb-3" style="background-image: url(static/images/art.jpg)">
        <div class="container py-5 text-center">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-fw fa-child fa-2x"></i>
                        <div class="count">{{ total_support_count }}</div>
                        <div class="title">Toplam Destek</div>
                    </div>
                    <!--/.info-box-->
                </div>
                <div class="col-md-12" style="color: ghostwhite;">
                    <h1 class="display-3 mb-4">justArt</h1>
                    <p class="lead mb-5">justArt kısaca açıklama yazısı ve motivasyon </p>
                    <a href="{% url 'main:choose_category' %}" class="btn btn-lg btn-primary mx-1">Oyuna Başla !</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'snippets/leaderboard.html' %}
    {% block script %}
    {% endblock %}
{% endblock %}
